<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
        <ul class="navbar-nav">
            <li><a href="/" rule='button' class="btn nav-link">Início</a></li>
            <li><a routerLink="/professionals" class="btn nav-link">
                <fa-icon [icon]='icons.faUserFriends'></fa-icon>
                <span class="ml-2">Proficionais</span>
            </a></li>
            <li><a routerLink="/establishments" class="btn nav-link">
                <fa-icon [icon]='icons.faBuilding'></fa-icon>
                <span class="ml-2">Estabelecimentos</span>
            </a></li>
            <li><a routerLink="/bounds" class="btn nav-link">
                <fa-icon [icon]='icons.faArrowsAltH'></fa-icon>
                <span class="ml-2">Novo Vinculo</span>
            </a></li>
        </ul>
    </nav>
</header>